# Visual Studio
*.sdf
*.sln
*.user
*.suo
*.opensdf
*.rc
*.vcx*
*.aps
Debug/
ipch/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Extraneous files
debug.txt
error.txt
notes.txt
main.cpp